<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120657394766-e5i2afrj7mtjpk1eb99uj4qgf0c1s43q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120657394766-e5i2afrj7mtjpk1eb99uj4qgf0c1s43q</string>
	<key>API_KEY</key>
	<string>AIzaSyB2A0TqUtjaYODxowFEgNc9OZrihGxKkAI</string>
	<key>GCM_SENDER_ID</key>
	<string>120657394766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DevExercise1</string>
	<key>PROJECT_ID</key>
	<string>coronausers</string>
	<key>STORAGE_BUCKET</key>
	<string>coronausers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120657394766:ios:bd2191713be68b8d05171f</string>
	<key>DATABASE_URL</key>
	<string>https://coronausers.firebaseio.com</string>
</dict>
</plist>